/**MENU**/
nav{
  height: 100%;
  transition: 0.4s;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: rgb(235, 201, 217);
  padding: 15px;
  padding-top: 20px;
}
nav ul{
  list-style-type: none;
  display: inline;
}
nav li{
  display: block;
  margin-bottom: 60px;
  padding: 5px;
}
nav li:hover{
  background-color: rgba(187, 187, 187, 0.67);
}
nav ul a{
  text-decoration: none;
  display: flex;
}
.icon{
  padding-right: 20px;
  font-size: 20px;
}
.title{
  text-align: center;
  background-color: rgb(182, 115, 145);
  color: rgb(247, 230, 238);
  padding: 1px;
}

/**HOME**/
